{% extends "base.html" %}

{% block title %}Coming Soon{% endblock %}

{% block extra_head %}
<style>
    .coming-soon-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh; /* Reduced to accommodate ad box */
        width: 100%;
        text-align: center;
        position: relative;
    }
</style>
{% endblock %}

{% block content %}
    <div class="coming-soon-container">
        <h1 class="glitch" data-text="Coming Soon">Coming Soon</h1>
        <p class="status-msg">Features are currently under development.</p>
        <a href="/" class="btn-retro" style="margin-top: 30px;">[ Return Home ]</a>
    </div>
{% endblock %}
